@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Caveat", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
}
